.obj{
    background-color: brown;
       align-items: center;
       text-align: center;
       justify-items: center;
      height: 55rem;
      width: 79rem;
    }
    
    #item{
        margin-top: 15rem;
        width: 20rem;
        height:2rem;
        border: 2px solid black;
      border-radius: 4px;
    }
    
    #waves{
        
        margin-left: 1rem ;
        width: 5rem;
        height:4rem;
        border: 2px solid black;
      border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition-duration:0.2s ;
    }
    
    #waves:hover{
        background-color: #4CAF50; /* Green */
      color: white;
    }
    
    
    #cpyarea{
        margin-top: 1rem;
        width: 20rem;
        height:10rem;
        border: 2px solid black;
      border-radius: 4px;
    
    }
    
    #cpybtn{
        margin-left: 1rem ;
        
        width: 5rem;
        height:4rem;
        border: 2px solid black;
      border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition-duration:0.2s ;
    }
    #cpybtn:hover{
        background-color: #4CAF50; /* Green */
      color: white;
    }
    #sepage{
        border: 2px solid black;
      border-radius: 4px;
        color:black;
        background-color:rgb(58, 110, 105);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition-duration:0.2s ;
    }
    #sepage:hover{
        background-color: #4CAF50; /* Green */
      color: white;
    }